<!-- header_section - start
		================================================== -->
<header class="header_section sticky_header header_default clearfix">
	<div class="header_top bg_light clearfix">
		<div class="maxw_1420 container">
			<div class="row align-items-center">
				<div class="col-lg-8">
					<ul class="header_contact_info ul_li clearfix">
						<li><i class="far fa-map-marker-alt"></i> 20 Main Street, USA</li>
						<li><i class="far fa-envelope-open"></i> info@ggoldenservice.com</li>
						<li><i class="far fa-clock"></i> Sun - Monday, 09 am - 04 pm</li>
					</ul>
				</div>

				<div class="col-lg-4">
					<ul class="header_items_list ul_li_right clearfix">
						<li>
							<div class="header_social_links d-flex align-items-center">
								<span class="social_title text-white">Social Links:</span>
								<ul class="primary_social_links ul_li clearfix">
									<li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#!"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#!"><i class="fab fa-youtube"></i></a></li>
									<li><a href="#!"><i class="fab fa-linkedin"></i></a></li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="header_bottom bg_default_blue">
		<div class="maxw_1420 container">
			<div class="row align-items-center">

				<div class="col-lg-3">
					<div class="brand_logo">
						<a href="/">
							<img src="assets/images/logo/logo-3.png"   
								alt="logo_not_found">
						</a>

						<ul class="mobilemenu_btns_group ul_li_right clearfix">
							<li>
								<button type="button" class="search_btn" data-toggle="collapse"
									data-target="#search_body_collapse" aria-expanded="false"
									aria-controls="search_body_collapse">
									<i class="fal fa-search"></i>
								</button>
							</li>
							<li>
								<button type="button" class="mobile_menu_btn"><i class="fal fa-bars"></i></button>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-lg-6">
					<nav class="main_menu clearfix">
						<ul class="ul_li_center clearfix">
							<li class="active">
								<a href="/">Home</a>
							</li>
							<li><a href="/about">About</a></li>

							<li class="has_child">
								<a href="/products/category/waste-papers">Paper Scraps</a>
								<ul class="submenu">
									<li *ngFor="let product of waste_products"><a
											href="/category/{{product.category}}/product/{{product.id}}">{{product.name}}</a>
									</li>
								</ul>
							</li>
							<li class="has_child">
								<a href="/products/category/plastic-scrap">Plastic Scraps</a>
								<ul class="submenu">
									<li *ngFor="let product of plastic_products"><a
											href="/category/{{product.category}}/product/{{product.id}}">{{product.name}}</a>
									</li>
								</ul>
							</li>
							<li class="has_child">
								<a href="/products/category/metal-scrap">Metal Scraps</a>
								<ul class="submenu">
									<li *ngFor="let product of metal_products"><a
											href="/category/{{product.category}}/product/{{product.id}}">{{product.name}}</a>
									</li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>

				<div class="col-lg-3">
					<ul class="header_btns_group ul_li_right clearfix">
						<li>
							<button type="button" class="action_btn search_btn bg_default_purple" data-toggle="collapse"
								data-target="#search_body_collapse" aria-expanded="false"
								aria-controls="search_body_collapse">
								<i class="fal fa-search"></i>
							</button>
						</li>
						<li>
							<a class="custom_btn bg_default_yellow" href="/contact">
								get a quote
								<span><i class="fal fa-arrow-right"></i></span>
							</a>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</div>

	<div id="search_body_collapse" class="search_body_collapse collapse">
		<div class="search_body">
			<div class="container maxw_1420">
				<form action="#" #ngSearch="ngForm" (ngSubmit)="search()">
					<div class="form_item m-0">
						<input type="search" name="search" [(ngModel)]="searchString" placeholder="Type here...">
						<button type="submit"><i class="fal fa-search"></i></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</header>
<!-- header_section - end
				  ================================================== -->

<main>

	<!-- sidebar mobile menu - start
			================================================== -->
	<div class="sidebar-menu-wrapper">
		<div class="sidebar_mobile_menu">

			<span class="close_btn"><i class="fal fa-times"></i></span>

			<div class="mobile_menu_list clearfix">
				<ul class="ul_li_block clearfix">
					<li class="active">
						<a href="/">Home</a>
					</li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Conatct</a></li>
					<li class="dropdown">
						<a href="/products/category/waste-papers" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false">Waste Papers</a>
						<ul class="dropdown-menu">
							<li *ngFor="let product of waste_products"><a
									href="/category/{{product.category}}/product/{{product.id}}">{{product.id}}</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="/products/category/paper-type" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false">Paper Types</a>
						<ul class="dropdown-menu">
							<li *ngFor="let product of type_products"><a
									href="/category/{{product.category}}/product/{{product.id}}">{{product.name}}</a>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="/products/category/copy-paper" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false">Copy Papers</a>
						<ul class="dropdown-menu">
							<li *ngFor="let product of copy_products"><a
									href="/category/{{product.category}}/product/{{product.id}}">{{product.name}}</a>
							</li>
						</ul>
					</li>

				</ul>
			</div>

		</div>
		<div class="overlay"></div>
	</div>
	<!-- sidebar mobile menu - end
			================================================== -->

	<!-- breadcrumb_section - start
			================================================== -->
	<section class="breadcrumb_section d-flex align-items-center clearfix"
		data-background="assets/images/breadcrumb/jump.jpg">
		<div class="container">
			<div class="row align-items-center justify-content-lg-between">
				<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-delay=".1s">
					<h1 class="page_title mb-0">Contact Us</h1>
				</div>

				<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 wow fadeInRight" data-wow-delay=".1s">
					<ul class="breadcrumb_nav ul_li_right clearfix">
						<li><a href="/">Home</a></li>
						<li>Contact Us</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- breadcrumb_section - end
			================================================== -->


	<!-- contact_section - start
			================================================== -->
	<section class="contact_section sec_ptb_130 clearfix">
		<div class="container">
			<div class="row justify-content-lg-between justify-content-md-center justify-content-sm-center">

				<div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
					<div class="contact_content">
						<div class="section_title mb_30 wow fadeInUp2" data-wow-delay=".1s">
							<h4 class="small_title">Contact Us</h4>
							<h2 class="big_title mb-0">
								Every Single Update To Contact Us
							</h2>
							<span class="biggest_title">Contact</span>
						</div>
						<!-- <p class="mb_30 wow fadeInUp2" data-wow-delay=".2s">
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan
              tium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
              architecto beatae vitae dict
            </p> -->
						<ul class="contact_information_list ul_li_block clearfix">
							<li class="wow fadeInUp2" data-wow-delay=".3s">
								<div class="item_icon bg_default_orange"><i class="fal fa-map-marker-alt"></i></div>
								<div class="item_content">
									<h4>Locations</h4>
									<p>205 Main Street, USA</p>
								</div>
							</li>
							<li class="wow fadeInUp2" data-wow-delay=".4s">
								<div class="item_icon bg_default_yellow"><i class="fal fa-envelope"></i></div>
								<div class="item_content">
									<h4>Email Us</h4>
									<p>info@ggoldenservice.com</p>
								</div>
							</li>
							<li class="wow fadeInUp2" data-wow-delay=".5s">
								<div class="item_icon bg_default_lightblue"><i class="fal fa-phone"></i></div>
								<div class="item_content">
									<h4>Phone Us</h4>
									<p>+012 (345) 678 99</p>
								</div>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
					<div class="contact_form">
						<form id="contact-form" #contactForm="ngForm" (ngSubmit)="submit()" method="POST">
							<div class="form_item wow fadeInUp2" data-wow-delay=".1s">
								<span class="input_title">Full Name</span>
								<div class="position-relative">
									<input id="input_user" type="text" name="name" [(ngModel)]="contact.name"
										placeholder="Write Your Name">
									<label class="input_icon" for="input_user"><i class="fal fa-user"></i></label>
								</div>
							</div>

							<div class="form_item wow fadeInUp2" data-wow-delay=".2s">
								<span class="input_title">Email Address</span>
								<div class="position-relative">
									<input id="input_email" type="email" name="email" [(ngModel)]="contact.email"
										placeholder="Write Your Email">
									<label class="input_icon" for="input_email"><i class="fal fa-envelope"></i></label>
								</div>
							</div>

							<div class="form_item wow fadeInUp2" data-wow-delay=".3s">
								<span class="input_title">Phone Number</span>
								<div class="position-relative">
									<input id="input_phone" type="tel" name="phone" [(ngModel)]="contact.phone"
										placeholder="Write Your Phone Number">
									<label class="input_icon" for="input_phone"><i class="fal fa-phone"></i></label>
								</div>
							</div>

							<div class="form_item wow fadeInUp2" data-wow-delay=".3s">
								<span class="input_title">Subject</span>
								<div class="position-relative">
									<input id="input_subject" type="text" name="subject" [(ngModel)]="contact.subject"
										placeholder="Subject Matter">
									<label class="input_icon" for="input_subject"><i
											class="fal fa-envelope-open"></i></label>
								</div>
							</div>

							<div class="form_item wow fadeInUp2" data-wow-delay=".4s">
								<span class="input_title">Leave A Message</span>
								<textarea name="message" [(ngModel)]="contact.message"
									placeholder="Write Your Message"></textarea>
							</div>

							<button type="submit" class="custom_btn bg_default_orange wow fadeInUp2"
								data-wow-delay=".5s">
								{{buttonMsg}}
								<span><i class="fal fa-arrow-right"></i></span>
							</button>
							<!-- <p class="ajax-response"></p> -->
						</form>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- contact_section - end
			================================================== -->
</main>