<!-- header_section - start
		================================================== -->
    <header class="header_section sticky_header header_default clearfix">
      <div class="header_top bg_light clearfix">
        <div class="maxw_1420 container">
          <div class="row align-items-center">
            <div class="col-lg-8">
              <ul class="header_contact_info ul_li clearfix">
                <li><i class="far fa-map-marker-alt"></i> 20 Main Street, USA</li>
                <li><i class="far fa-envelope-open"></i> info@ggoldenservice.com</li>
                <li><i class="far fa-clock"></i> Sun - Monday, 09 am - 04 pm</li>
              </ul>
            </div>
    
            <div class="col-lg-4">
              <ul class="header_items_list ul_li_right clearfix">
                <li>
                  <div class="header_social_links d-flex align-items-center">
                    <span class="social_title text-white">Social Links:</span>
                    <ul class="primary_social_links ul_li clearfix">
                      <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#!"><i class="fab fa-youtube"></i></a></li>
                      <li><a href="#!"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    
      <div class="header_bottom bg_default_blue">
        <div class="maxw_1420 container">
          <div class="row align-items-center">
    
            <div class="col-lg-3">
              <div class="brand_logo">
                <a href="/">
                  <img src="assets/images/logo/logo-3.png"   
                    alt="logo_not_found">
                </a>
    
                <ul class="mobilemenu_btns_group ul_li_right clearfix">
                  <li>
                    <button type="button" class="search_btn" data-toggle="collapse" data-target="#search_body_collapse"
                      aria-expanded="false" aria-controls="search_body_collapse">
                      <i class="fal fa-search"></i>
                    </button>
                  </li>
                  <li>
                    <button type="button" class="mobile_menu_btn"><i class="fal fa-bars"></i></button>
                  </li>
                </ul>
              </div>
            </div>
    
            <div class="col-lg-6">
              <nav class="main_menu clearfix">
                <ul class="ul_li_center clearfix">
                  <li class="active">
                    <a href="/">Home</a>
                  </li>
                  <li><a href="/about">About</a></li>
                  
                  <li class="has_child">
                    <a href="/products/category/waste-papers">Paper Scraps</a>
                    <ul class="submenu">
                      <li *ngFor="let product of waste_products"><a href="/category/{{product.category}}/product/{{product.id}}">{{product.name}}</a></li>
                    </ul>
                  </li>
                  <li class="has_child">
                    <a href="/products/category/plastic-scrap">Plastic Scraps</a>
                    <ul class="submenu">
                      <li *ngFor="let product of plastic_products"><a href="/category/{{product.category}}/product/{{product.id}}">{{product.name}}</a></li>
                    </ul>
                  </li>
                  <li class="has_child">
                    <a href="/products/category/metal-scrap">Metal Scraps</a>
                    <ul class="submenu">
                      <li *ngFor="let product of metal_products"><a href="/category/{{product.category}}/product/{{product.id}}">{{product.name}}</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
    
            <div class="col-lg-3">
              <ul class="header_btns_group ul_li_right clearfix">
                <li>
                  <button type="button" class="action_btn search_btn bg_default_purple" data-toggle="collapse"
                    data-target="#search_body_collapse" aria-expanded="false" aria-controls="search_body_collapse">
                    <i class="fal fa-search"></i>
                  </button>
                </li>
                <li>
                  <a class="custom_btn bg_default_yellow" href="/contact">
                    get a quote
                    <span><i class="fal fa-arrow-right"></i></span>
                  </a>
                </li>
              </ul>
            </div>
    
          </div>
        </div>
      </div>
    
      <div id="search_body_collapse" class="search_body_collapse collapse">
        <div class="search_body">
          <div class="container maxw_1420">
            <form action="#" #ngSearch="ngForm" (ngSubmit)="search()">
              <div class="form_item m-0">
                <input type="search" name="search" [(ngModel)]="searchString" placeholder="Type here...">
                <button type="submit"><i class="fal fa-search"></i></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </header>
    <!-- header_section - end
        ================================================== -->

<main>

  <!-- sidebar mobile menu - start
			================================================== -->
	<div class="sidebar-menu-wrapper">
		<div class="sidebar_mobile_menu">

			<span class="close_btn"><i class="fal fa-times"></i></span>

			<div class="mobile_menu_list clearfix">
				<ul class="ul_li_block clearfix">
					<li class="active">
						<a href="/">Home</a>
					</li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Conatct</a></li>
					<li class="dropdown">
						<a href="/products/category/waste-papers" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false">Waste Papers</a>
						<ul class="dropdown-menu">
							<li *ngFor="let product of waste_products"><a
									href="/category/{{product.category}}/product/{{product.id}}">{{product.id}}</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="/products/category/paper-type" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false">Paper Types</a>
						<ul class="dropdown-menu">
							<li *ngFor="let product of type_products"><a
									href="/category/{{product.category}}/product/{{product.id}}">{{product.name}}</a>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="/products/category/copy-paper" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false">Copy Papers</a>
						<ul class="dropdown-menu">
							<li *ngFor="let product of copy_products"><a
									href="/category/{{product.category}}/product/{{product.id}}">{{product.name}}</a>
							</li>
						</ul>
					</li>

				</ul>
			</div>

		</div>
		<div class="overlay"></div>
	</div>
	<!-- sidebar mobile menu - end
			================================================== -->

  <!-- breadcrumb_section - start
			================================================== -->
  <section class="breadcrumb_section d-flex align-items-center clearfix"
    data-background="assets/images/breadcrumb/jump.jpg">
    <div class="container">
      <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-delay=".1s">
          <h1 class="page_title mb-0">{{currentCategory.toUpperCase()}}</h1>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 wow fadeInRight" data-wow-delay=".1s">
          <ul class="breadcrumb_nav ul_li_right clearfix">
            <li><a href="/">Home</a></li>
            <li>Category</li>
            <li>{{currentCategory}}</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb_section - end
			================================================== -->


  <!-- shop_section - start
			================================================== -->
  <section class="shop_section sec_ptb_130 bg_gray clearfix">
    <div class="container">
      <div class="row justify-content-lg-between justify-content-md-center justify-content-sm-center">

        <div class="col-lg-9 col-md-12 order-last">
          <div class="product_selection_bar wow fadeInUp2 clearfix" data-wow-delay=".1s">
            <div
              class="row align-items-center justify-content-lg-between justify-content-md-center justify-content-sm-center">
              <!-- <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="select_option mb-0">
                <select>
                  <option data-display="Category">Select A Option</option>
                  <option value="1" selected>Category 1</option>
                  <option value="2">Category 2</option>
                  <option value="3">Category 3</option>
                  <option value="4">Category 4</option>
                </select>
              </div>
            </div> -->

              <!-- <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 order-last">
              <div class="select_option float_right mb-0">
                <select>
                  <option data-display="Short By">Select A Option</option>
                  <option value="Name" selected>Name</option>
                  <option value="Price">Price</option>
                  <option value="Size">Size</option>
                </select>
              </div>
            </div> -->

              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <p class="result_text">Showing {{getCategoryCount(currentCategory)}} results</p>
              </div>
            </div>
          </div>

          <div class="row justify-content-left">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp2" data-wow-delay=".2s" *ngFor="let product of currentProducts">
              <div class="product_card text-center">
                <a class="item_image" href="/category/{{product.category}}/product/{{product.id}}">
                  <img src="{{product.image}}" alt="{{product.name}}">
                </a>
                <div class="item_content">
                  <h3 class="item_title">{{product.name}}</h3>
                  <!-- <span class="item_price">$25.83</span> -->
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
          <aside class="sidebar_section clearfix">

            <div class="widget wow fadeInUp2 sb_search_box_2 p-0" data-wow-delay=".1s">
              <form action="#" #ngSearch="ngForm" (ngSubmit)="search()">
                <div class="form_item mb-0">
                  <input id="sb_search" type="search" name="search" placeholder="Search Keywords" [(ngModel)]="searchString">
                  <button type="submit" class="submit_btn bg_default_orange"><i class="fal fa-search"></i></button>
                </div>
              </form>
            </div>

            <div class="widget wow fadeInUp2 sb_category_list" data-wow-delay=".3s">
              <h3 class="sb_widget_title bottom_line">Categories</h3>
              <ul class="ul_li_block clearfix">
                <li *ngFor="let category of categories"><a href="/products/category/{{category}}">{{category}}</a></li>
              </ul>
            </div>

            <div class="widget wow fadeInUp2 sb_tag_list_2" data-wow-delay=".5s">
              <h3 class="sb_widget_title bottom_line">Popular Tags</h3>
              <ul class="ul_li clearfix">
                <li *ngFor="let product of currentProducts"><a
                    href="/category/{{product.category}}/product/{{product.id}}">{{product.name}}</a></li>
              </ul>
            </div>

            <!-- <div class="widget wow fadeInUp2 price-range" data-wow-delay=".7s">
            <h3 class="sb_widget_title bottom_line">Filer By Price</h3>
            <form action="#">
              <div class="price-range-area clearfix">
                <div id="slider-range" class="slider-range"></div>
                <div class="price-text d-flex align-items-center">
                  <span>Price:</span>
                  <input type="text" id="amount" readonly>
                </div>
              </div>
            </form>
          </div> -->

          </aside>
        </div>

      </div>
    </div>
  </section>
  <!-- shop_section - end
			================================================== -->
</main>